/* 헤더 */
* {
  box-sizing: border-box;
}

header {
  margin: auto; /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
  height: 80px;
  width: 1450px;
  /*width: 95%;*/
}

ul {
  list-style: none;
}

#container {
  margin: 0px auto; /* 화면 테두리와 제목 간격 0px */
}

/* 로고 */
#logo {
  float: left;
  margin-top: 12px;
}

/* 사용자 nav */
#topMenu-user {
  float: right;
  margin-top: 20px;
  margin-bottom: 80px;
}

#topMenu-user li {
  float: left;
  padding-left: 30px; /*nav 간격*/
}

#topMenu-user a {
  text-decoration: none;
  color: #002c7f;
  font-weight: bold;
  font-size: 0.9em;
}

#topMenu-user a:hover {
  color: red; /* 마우스 포인터 올리면 색상 변화*/
}
/* 헤더 */
