/* 푸터 */
footer {
  margin-left: -159px;
  margin-right: -159px;
  height: 80px;
  border-top: 1px solid lightgray;
  background-color: #f8f9fa;
  padding: 1.8em 0;
  margin-bottom: 0;
  text-align: center;
}

.footer-copyright {
  font-size: 0.9rem;
  color: #545e6f;
}