/* 헤더 */
* {
  box-sizing: border-box;
}

header {
  margin: auto;
  height: 80px;
  width: 1450px;

ul {
  list-style: none;
}

#container {
  margin: 0px auto; 
}

/* 로고 */
#logo {
  float: left;
  margin-top: 12px;
}

/* 사용자 nav */
#topMenu-user {
  float: right;
  margin-top: 20px;
  margin-bottom: 80px;
}

#topMenu-user li {
  float: left;
  padding-left: 30px;
}

#topMenu-user a {
  text-decoration: none;
  color: #002c7f;
  font-weight: bold;
  font-size: 0.9em;
}

#topMenu-user a:hover {
  color: red; 
}
