/* theme */
.theme-list {
  list-style: none;
  padding: 0;
  margin-bottom: 380px;
}
.theme-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.theme-list img {
  margin-left: 8px;
  padding: 0;
  float: left;
  z-index: 5;
  border-radius: 5px;
}
.theme h4 {
  margin-left: 20px;
}
.theme-list .caption {
  position: absolute;
  top: 443px;
  left: 8px;
  width: 250px;
  height: 80px;
  padding-top: 13px;
  background: rgba(252, 252, 252, 0.6);
  opacity: 0;
  transition: all 0.6s ease-in-out; 
  z-index: 10;
}
.theme-list .caption {
  opacity: 1;
  transform: translateY(-240px); 
}
.theme-list .caption h2 {
  color: #fff;
  text-align: left;
  font-size: 16px;
  padding-left: 13px;
  padding-top: 15px;
  color: black;
}